---
layout: default
---

<div class="return-home">
    &lt;&lt; <a href="{{ site.url }}">Home</a>
</div>
<main id="notebook">
    <header>
        {{ page.title }}
    </header>
    <div id="content">
        {% for post in paginator.posts %}
            {% if post.category == 'notebook' %}
                <div class="entry">
                    <div class="date">
                        <a href="{{ post.url }}">{{ post.date | date: '%b %e, %Y @ %I:%M %p' | upcase }}</a>
                    </div>
                    {{ post.content }}
                </div>
            {% else if post.category == 'camera-roll' %}
                camera-roll
            {% else if post.category == 'saves' %}
                saves
            {% else %}
                {{ post.title }}
                {{ post.content }}
            {% endif %}   
        {% endfor %}
    </div>
    <div id="newer">
        <p>&lt; <a href="{{ paginator.previous_page_path }}">newer</a></p>
    </div>
    <div id="older">
        <p><a href="{{ paginator.next_page_path }}">older</a> &gt;</p>
    </div>
</main>