---
layout: default
---

<div class="return-home">
  {% for parent in site.pages %}
    {% if parent.title and parent.autogen == nil %}
      {% unless parent.exclude %}
        {% if parent.category == page.category %}
          {% assign return = parent.title %}
          &lt;&lt; <a href="{{ site.url }}/{{ page.category }}">{{ return }}</a>
        {% endif %}
      {% endunless %}
    {% endif %}
  {% endfor %}
  {% if page.category == 'pages' %}
    {% assign return = 'Home' %}
    &lt;&lt; <a href="{{ site.url }}">{{ return }}</a>
  {% endif %}
  
</div>
<main id="{{page.category}}" class="post_page">
  {% if page.category == 'pages' %}
      {% assign header = page.title %}
  {% else %}
    {% assign header = page.date | date: '%b %e, %Y @ %I:%M %p' | upcase %}
  {% endif %}
  <header>
    {{ header }}
  </header>
  <div id="content">
    {% if page.category == 'notebook' %}
      <div class="entry">
        {{ page.content }}
      </div>
    {% elsif page.category == 'camera-roll' %}
        {% for image in page.images %}
          <figure>
            <img src="{{ image.file }}">
            {% if image.caption %}
              <figcaption>{{ image.caption }}</figcaption>
            {% endif %}
          </figure>
      {% endfor %}
    {% elsif page.category == 'saves' %}
      <figure class="span-6">
        <img src="{{ page.image }}">
        {% if page.caption %}
          <figcaption>{{ page.caption }}</figcaption>
        {% endif %}
      </figure>
    {% else %}
      {{ page.content }}
    {% endif %}
  </div>
</main>